<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>signin</display-name>
    <servlet-name>signin</servlet-name>
    <servlet-class>signin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signin</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <display-name>aa</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>logii</display-name>
    <servlet-name>logii</servlet-name>
    <servlet-class>logii</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logii</servlet-name>
    <url-pattern>/logii</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinServlet</display-name>
    <servlet-name>JoinServlet</servlet-name>
    <servlet-class>JoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinServlet</servlet-name>
    <url-pattern>/JoinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>wase</display-name>
    <servlet-name>wase</servlet-name>
    <servlet-class>wase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wase</servlet-name>
    <url-pattern>/wase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tryy</display-name>
    <servlet-name>tryy</servlet-name>
    <servlet-class>tryy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tryy</servlet-name>
    <url-pattern>/tryy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayy</display-name>
    <servlet-name>displayy</servlet-name>
    <servlet-class>displayy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayy</servlet-name>
    <url-pattern>/displayy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cx</display-name>
    <servlet-name>cx</servlet-name>
    <servlet-class>cx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cx</servlet-name>
    <url-pattern>/cx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fileshow</display-name>
    <servlet-name>fileshow</servlet-name>
    <servlet-class>fileshow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileshow</servlet-name>
    <url-pattern>/fileshow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>trialservlet</display-name>
    <servlet-name>trialservlet</servlet-name>
    <servlet-class>trialservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trialservlet</servlet-name>
    <url-pattern>/trialservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>trybest</display-name>
    <servlet-name>trybest</servlet-name>
    <servlet-class>trybest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trybest</servlet-name>
    <url-pattern>/trybest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListFilesServlet</display-name>
    <servlet-name>ListFilesServlet</servlet-name>
    <servlet-class>ListFilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFilesServlet</servlet-name>
    <url-pattern>/ListFilesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherFilesServlet</display-name>
    <servlet-name>TeacherFilesServlet</servlet-name>
    <servlet-class>TeacherFilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherFilesServlet</servlet-name>
    <url-pattern>/TeacherFilesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tf</display-name>
    <servlet-name>tf</servlet-name>
    <servlet-class>tf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tf</servlet-name>
    <url-pattern>/tf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>linkservlet</display-name>
    <servlet-name>linkservlet</servlet-name>
    <servlet-class>linkservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>linkservlet</servlet-name>
    <url-pattern>/linkservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeworkServlet</display-name>
    <servlet-name>HomeworkServlet</servlet-name>
    <servlet-class>HomeworkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeworkServlet</servlet-name>
    <url-pattern>/HomeworkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotificationServlet</display-name>
    <servlet-name>NotificationServlet</servlet-name>
    <servlet-class>NotificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationServlet</servlet-name>
    <url-pattern>/NotificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayHomeworkServlet</display-name>
    <servlet-name>DisplayHomeworkServlet</servlet-name>
    <servlet-class>DisplayHomeworkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayHomeworkServlet</servlet-name>
    <url-pattern>/DisplayHomeworkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayNotificationsServlet</display-name>
    <servlet-name>DisplayNotificationsServlet</servlet-name>
    <servlet-class>DisplayNotificationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayNotificationsServlet</servlet-name>
    <url-pattern>/DisplayNotificationsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dis</display-name>
    <servlet-name>dis</servlet-name>
    <servlet-class>dis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dis</servlet-name>
    <url-pattern>/dis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentdis</display-name>
    <servlet-name>studentdis</servlet-name>
    <servlet-class>studentdis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentdis</servlet-name>
    <url-pattern>/studentdis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletionServlet</display-name>
    <servlet-name>DeletionServlet</servlet-name>
    <servlet-class>DeletionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletionServlet</servlet-name>
    <url-pattern>/DeletionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ddss</display-name>
    <servlet-name>ddss</servlet-name>
    <servlet-class>ddss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ddss</servlet-name>
    <url-pattern>/ddss</url-pattern>
  </servlet-mapping>
</web-app>